<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="indexCreateClient" class="com.brainsoon.bsrcm.search.solr.IndexCreateClient" factory-method="buildSingleton">
		<property name="solrResourceUrl" value="http://localhost:8092/solr2zb/core1" />
	</bean>
	<!-- 数据服务接口 -->
	<bean id="solrQueueFacede" class="com.brainsoon.bsrcm.search.service.impl.SolrQueueFacedeImpl"/>
		
	<!-- 定时任务接口 -->
	<bean id="doSolrIndexJob" class="com.brainsoon.bsrcm.search.job.DoSolrIndexJob"/>
	    
	<bean id="jobDetailForIndexSolr" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="doSolrIndexJob"/> 
		<property name="targetMethod" value="doIndexJob"/>
		<property name="concurrent" value="false"/>
	</bean>
</beans>